.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: grey;
}
 
.main {
  padding-top: 50px;
  overflow: auto;
  background-color: darkgrey;
}
 
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: grey;
}